// Global Variables
// Break Points
$break480   : 480px;
$break800   : 800px;
$break1050  : 1050px;   
$break1200  : 1200px;

/* Colors */
$color1     : #F89828; // VCPL orange
$color2     : #99cc33; // VCPL green
$color3     : #0099cc; // VCPL blue
$bg-color   : #ffffff; // white
$font-color : #000000; // black

/* Font Sizes in EM (Fallbacks) */
$font-stack : Verdana,Helvetica,Arial,sans-serif;
$font24     : 1.714em; // 24px
$font23     : 1.643em; // 23px
$font22     : 1.571em; // 22px
$font21     : 1.500em; // 21px
$font20     : 1.429em; // 20px
$font19     : 1.357em; // 19px
$font18     : 1.286em; // 18px
$font17     : 1.214em; // 17px
$font16     : 1.143em; // 16px
$font15     : 1.071em; // 15px
$font14     : 1.000em; // 14px - base
$font13     : 0.929em; // 13px
$font12     : 0.857em; // 12px
$font11     : 0.786em; // 11px
$font10     : 0.714em; // 10px
$font09     : 0.643em; // 9px
$font08     : 0.571em; // 8px
$font07     : 0.500em; // 7px
$font06     : 0.429em; // 6px
